
body {background:#666666;
}
a {
    text-decoration: none;
   body {
       font-family: "open sans", cursive;
        
    }
    
    header {
        float: left;
        padding: 5px 000;
        width: 100%
    }
    
    nav ul{
        list-style: none;
        padding: 10px 0;
        margin: 0 10px;
    }
    
    nav li{
        display: in-block;
    }
    
    nav a{
        font-weight: 800;
        padding: 15px 10px;
    }
}
#wrapper {
    max-width: 1000px;
    margin: 0 auto;
    background-color:#800000;
        padding: 0 5%;
}

img {
    max-width: 100%;
}
#logo{
text-alig:  center;
 margin: 0;
}

h1{
    font-family: 'Trochut', cursive;
    margin: 20px 0;
    font-size: 1.75em;
}

header {
    font-size: .75em;
    text-align: center;
    padding-top: 50px;
    color: black;
    }

    header{
        font-family: 
    }
#gallery {
    margin: 0;
    padding: 0;
    list-style: none;
}

#gallery li{
    float: left;
    width: 45%;
    margin:2.5%;
    background-color: lightgrey;
    color: #bdc3c7;
}

h1{
    color:black
}

a {
  color:black;
}

header {
 background:#999999;
}

h1, h2{
    color:#000000;
}

nav a, nav a:visted{
    color:#000000;
}

nav a, nav.selected, nav a:hover {
    color:darkgray
<header>
  color: dark gray;
</header>
        

